nav
{
    font: bold 20px sans-serif;
}
h2
{
    animation-name: biggerToSmaller;
    animation-duration: 3s;
    animation-delay: 2s;
}
@keyframes biggerToSmaller
{
    from
    {
        font-size: 500%;
    }
    to
    {
        font-size: 200%;
    }
}
